@import "../../theme/__global.module.scss";

.container {
  @extend .shadowBox;
  max-width: 60%;
  gap: 16px;
  > p:first-child {
    font-size: 20px;
  }
  > p:last-of-type {
    @extend .secondaryText;
  }
  > :last-child {
    margin-top: 16px;
  }
}
